{# templates/forget_password.html.twig #}
{% extends 'user_management.template.html.twig' %}

{% block form_fields %}
    <div class="infield">
        <input type="email" id="email" placeholder="Email" name="email" required />
        <label></label>
    </div>
    <div class="infield">
        <input type="text" id="code" placeholder="Code" name="code" required />
        <label></label>
    </div>
    <div class="infield">
        <input type="text" id="password" placeholder="Nouveau MDP" name="password" required />
        <label></label>
    </div>
{% endblock %}

{% set title = 'Nouveau mot de passe' %}
{% set description = 'Rentrez le code et votre nouveau mot de passe' %}
{% set  value_button = 'newPassword' %}
{% set button_text = 'Valider' %}
{% set back_link = path('auth') %}
{% set back_text = 'Retour à la connexion' %}
{% set action = path('managementAuth', { page: 'new_password' }) %}



